h1{
    font-size: 8rem;
    color: var(--bs-body-color);
}

h2{
    font-size: 5rem;
    color: var(--bs-body-color);
}

h3{
    font-size: 3.5rem;
    color: var(--bs-body-color);
}

p{
    font-size: 2.5rem;
    color: white;
    
}

#range{
    font-size: 3rem;
}

.form-group{
    border: 2px solid white;
    padding: 2;
    border-radius: 30px;
}

.form-check-label{
    font-size: 2rem;
}

.form-label{
    font-size: 3rem;
}

li{
    font-size: 2.75rem;
    text-align: left;
}

btn-lg{
    padding: 7rem;
    font-size: 10rem;
    border-radius: 7rem;
}

#progress_bar{
    padding: 3rem;
    font-size: 6rem;
    border-radius: 3rem;
}

body {
    background-image: linear-gradient(#17082e 0,#1a0933 7%,#1a0933 80%,#0c1f4c 100%);
    text-shadow: 0 0 1px rgb(50 251 226 / 30%), 0 0 2px rgb(50 251 226 / 30%), 0 0 5px rgb(50 251 226 / 20%);
}

body{
    text-align: center;
}

footer{
    background-color: #180830;
}

header{
    background-color: #180830;
}

#main_navbar{
    padding: 3.5rem;
    font-size: 2.7rem;
}

/* top nav <----------------------------> */
.topnav {
    overflow: hidden;
    background-color: #6F42C1;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #3BF182;
    color: #1A0A34;
  }